/* Header de la tabla */
.header-row {
  background-color: #2389f6;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  border-radius: 8px;
  position: sticky;
  z-index: 1;
  top: 0;
}

.header-text {
  color: white; /* Asegura contraste adecuado */
  font-size: 1.2em;
}

/* Filas de datos */
.data-row {
  text-align: center;
  transition: background-color 0.3s ease;
}

.data-row.even {
  background-color: #e2e8f0; /* Gris claro */
}

.data-row.odd {
  background-color: #f8fafc; /* Blanco más claro */
}

.data-row:hover {
  background-color: #dbeafe; /* Azul claro */
  color: #1e40af; /* Azul oscuro para resaltar */
  font-weight: bold;
  cursor: pointer;
}

/* Texto de datos */
.letrita {
  color: black; /* Fuerza el color negro para el texto */
  font-weight: bold;
}

/* Ajuste para IonCol */
ion-col {
  color: black !important; /* Prioridad máxima */
  font-size: 1em;
}

/* Estilos para la tabla */
.table-container {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Título de la tabla */
.table-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* Fila de encabezado */
.header-row {
  display: flex;
  flex-direction: row;
  position: sticky;
  z-index: 1;
  top: 0;
}

/* Estilos para las celdas del encabezado */
.header-text {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff; /* Cambia el color de fondo */
  padding: 10px;
  text-align: center;
}

/* Estilo para las filas de datos */
.data-row {
  background-color: #f9f9f9;
  /*border-bottom: 1px solid #ddd;*/
 /* padding: 15px 10px;*/
  display: flex;
  flex-direction: row;
}

.data-row.odd {
  background-color: #f2f2f2; /* Filas alternas */
}

/* Estilo de las celdas de datos */
.letrita {
  font-size: 1rem;
  color: #333;
  padding: 5px 0;
}

/* Contenedor de la tabla con scroll */
.table-scroll-container {
 max-height: 300px; /* Ajusta la altura máxima de la tabla */
  overflow-y: auto;  /* Activa el scroll vertical */
   margin-top: 10px;
}

.clientes-scroll {
  max-height: 200px; /* Ajusta la altura máxima según sea necesario */
  overflow-y: auto;  /* Activa el scroll vertical */
}

.ventas-scroll {
  max-height: 300px; /* Ajusta la altura máxima según sea necesario */
  overflow-y: auto;  /* Activa el scroll vertical */
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.chart-wrapper {
  flex: 1 1 45%;
  min-width: 300px;
  height: 400px;
  position: relative;
}



/* PanelControl.css */
.panel-card {
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.panel-content {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.month-selector {
  margin: 20px 0;
}

.segment-button {
  padding: 10px;
  color: #007bff;
}

.segment-button.ion-activated {
  background-color: #007bff;
  color: white;
  border-radius: 20px;
}

.sales-total {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 20px;
}

.currency-symbol {
  font-size: 1.5rem;
  color: #000000;
  
}

.currency-symbol1 {
  font-size: 1.5rem;
  color: #ffffff;
  
}

.total-amount {
  font-size: 2rem;
  font-weight: bold;
  color: #007bff;
  margin-left: 5px;
}
