.tabla {
    --color:black;
     text-align: center;
     justify-content: center;
     border-collapse: collapse;
     width: 95%;
    
 }
 
 .tabla  ion-row>  ion-col {
     border: solid 0.25px var(--ion-color-light);
     border-radius: 5px;
     color: var(--color);
     text-align: center;
     
     
 }
 ion-text {
   text-align: center;
   justify-content: center;
   color: black;
   
 }
 
 .tabla ion-row.encabezado>  ion-col {
   margin-top: 2.5%;
   margin-bottom: 1%;
   background-color: var(--ion-color-primary);
 
 }
 
 
 
 