.centerItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
  }
  
  span {
    margin-left: 10px;
    font-weight: bold;
    color: white;
  }
  .navbar {
    display: flex;
    justify-content: space-between; /* Cambiar a 'flex-start' para alinear los íconos a la izquierda */
    align-items: center;
    padding: 0 10px; /* Ajusta el padding según necesites */
  }
  
  .navbar-buttons {
    display: flex;
    gap: 10px; /* Añade espacio entre los botones */
  }